# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List common libraries for Data Science
* List popular tools for Data Science
* Perform Markdown actions

## Author 
Sahil Dilip Sonawane

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Plotly
5. H2O

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebooks|
|IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min=200
hr=(min/60)
print(hr)

3.3333333333333335